{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
<strong>For support or more information, please contact us through any of the following channels:</strong><br/><br/>
<strong>Email:</strong>   <a href="mailto:bkvinay14@gmail.com">bkvinay14@gmail.com</a><br />
<strong>Phone:</strong>   <a href="tel:7022955501">7022955501</a><br />
<strong>Address: </strong><a href="addressto:">NIMS Ballari</a><br/>
<strong>Support:</strong>   <a href="mailto:bkvinay14@gmail.com">bkvinay14@gmail.com</a><br />
</address>

<address>
    {#<strong>Support:</strong>   <a href="mailto:bkvinay14@gmail.com">bkvinay14@gmail.com</a><br />#}
  {#<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>#}
</address>

{% endblock %}
