{% extends 'app/layout.html' %}

{% block content %}
<div class="panel panel-default">
 <div class="row">
     <div class="col-sm-3" style="padding-left:2em">
         <br />
         <table class="table table-striped" style="background-color:aliceblue">             
            <thead><tr class="danger"><th>My Personal Dashboard</th></tr></thead>
             <tr class="success"><td><a href="{% url 'customer_profile' %}">My profile</a></td></tr>
             <tr class="warning"><td><a href="/editprofile/{{ cust_profile.id }}">Edit Profile</a></td></tr>
             <tr class="danger"><td><a href="{% url 'myservicebookings' %}">My Service Bookings</a></td></tr>
             <tr class="active"><td><a href="{% url 'feedback' %}">Feedback</a></td></tr>
             <tr class="success"><td><a href="{% url 'changepassword' %}">Change Password</a></td></tr>
             <tr class="info"><td><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-off"></span>Log out</a></td></tr>
         </table>
  
     </div>
     <div class="col-sm-8" style="background-color:cadetblue">
     <h2 style="font-weight:bold;color:whitesmoke;"> My Profile </h2> 
         <br />
     <table class="table table-bordered">
           <tbody>
             <tr><td style="font-weight:bold;color:whitesmoke;">User Name</td><td>{{ cust_profile.username }}</td></tr>
             <tr><td style="font-weight:bold;color:whitesmoke;">First Name</td><td>{{ cust_profile.first_name }}</td></tr>
             <tr><td style="font-weight:bold;color:whitesmoke;">Last Name</td><td>{{ cust_profile.last_name }}</td></tr>
             <tr><td style="font-weight:bold;color:whitesmoke;">Email</td><td>{{ cust_profile.email }}</td></tr>
             <tr><td style="font-weight:bold;color:whitesmoke;">Contact</td><td>{{ cust_profile.profile.contact }}</td></tr>
         </tbody>

     </table>
    </div>
     <div class="col-sm-1"></div>
 </div>
</div>
{% endblock %}